/*****************************************************
* CSS Mockup Activity - Custom CSS Stylesheet
* @author rlewis37
* @author pstreet1
* Some rules have been included here to give you a head start.
* Create your own custom CSS rules below. Have fun!
* css format...
selector {
	property: value;
}
******************************************************/
body {
	margin: 0;
	box-sizing: border-box;
	background-color: greenyellow;
	font-family: Helvetica, Arial, sans-serif;
}

h1 {
	color: deeppink;
	font-size: 44px;
	margin: 0;
}

h2 {
	color: orange;
	font-size: 24px;
}

header {
	background-color: purple;
	color: yellow;
	height: 100px;
	padding: 20px;
}

html {
	margin: 0;
	box-sizing: border-box;
}

main {
	padding: 20px;
}

p {
color: red;
}

textarea {
	height: 200px;
	width: 300px;
}

td {
	padding: 5px;
}

.clearfix {
	clear: both;
}

.container {
	background-color: cyan;
	margin: 0 auto;
	padding: 0 2rem;
	width: 1000px;
}

.container1 {
	background-color: mediumpurple;
	margin: 0 auto;
	padding: 0 2rem;
	width: 1000px;
}

.flt-right {
	float: right;
}

.img-small {
	border: 5px solid #ddd;
	height: auto;
	margin: 10px;
	padding: 10px;
	width: 200px;
}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
}

/* create a responsive container */
@media only screen and (min-width: 1200px) {
	.container { width: 1170px; }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.container { width: 970px; }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.container { width: 750px; }
}

/*****************************************************
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
******************************************************/

/*corrects IE min-height bug*/
html { display: flex;}
body { width: 100%;}


/*****************************************************
* ADD YOUR OWN CSS BELOW! (ﾉ◕ヮ◕)ﾉ*:･ﾟ✧
*
* HINT: You might want to be conversant with the following:
* * Shorthand syntax for padding, margin, and borders
* * Display property and values... and the differences between them.
* * The Box Model
* * Pseudo Classes
* * Attribute Selectors
******************************************************/